<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>Explain why the vector <m><%= v4 %></m> is or is not a linear 
	combination of the vectors 
	<m><%= v1 %></m>,
	<m><%= v2 %></m>, and
	<m><%= v3 %></m>.
	</p>
  </statement>
  <answer>
  <p> <m><%= v4 %></m> 
  	<% if lc  %> is <% else %> is not <% end %> 
	a linear combination of the vectors 
	<m><%= v1 %></m>,
	<m><%= v2 %></m>, and
	<m><%= v3 %></m>.
  </p>
  </answer>
</exercise>
