<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <% if swapped %>
  <statement>
    <p>
      Let <m><%=domain_range%></m> be the transformation given by
    </p>
    <me><%=transformation%></me>
    <p>
      (a) Explain how to find the standard matrix for <m>T</m>.
    </p>
    <p>
      (b) Explain how to evaluate <m><%=trans_of_v%></m>.
    </p>
  </statement>

  <answer>
    <me><%= matrix %></me>
    <me><%= trans_of_v_eval %></me>
  </answer>
  <% else %>
  <statement>
    <p>
      Let <m><%=domain_range%></m> be the transformation given by the standard matrix
    </p>
    <me><%=matrix%></me>
    <p>
      First expand <m><%=transformation2%></m>.
      Then show how to evaluate <m><%=trans_of_v%></m>.
    </p>
    <p>
      (a) Explain how to find an expression for <m><%=transformation2%></m>
    </p>
    <p>
      (b) Explain how to evaluate <m><%=trans_of_v%></m>.
    </p>
  </statement>

  <answer>
    <me><%= transformation %></me>
    <me><%= trans_of_v_eval %></me>
  </answer>
  <% end %>
</exercise>
