<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Let <m><%=domain_range%></m> be the transformation given by
    </p>
    <me><%=transformation%></me>
    <p>
      First give the standard matrix for <m>T</m>.
      Then show how to evaluate <m><%=trans_of_v%></m>.
    </p>
  </statement>

  <answer>
    <me><%= matrix %></me>
    <me><%= trans_of_v_eval %></me>
  </answer>
</exercise>
