<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>Show how to find the solution set for the following system of linear equations.</p>
    <%=system%>
  </statement>

  <answer>
    <me><%= matrix %> \sim <%= rref %></me>
    <me><%= solution %></me>
  </answer>
</exercise>
