<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      (a) Give a <m>3\times 3</m> matrix <m>P</m> that may be used to perform the row
      operation <m><%=row_op1%></m>.
    </p>
    <p>
      (b) Give a <m>3\times 3</m> matrix <m>Q</m> that may be used to perform the row
      operation <m><%=row_op2%></m>.
    </p>
    <p>
      (c) Suppose <m>A</m> is a <m>3\times 3</m> matrix with determinant <m><%=orig_det%></m>.
      Use matrix multiplication to describe the matrix obtained by applying 
      <m><%=row_op1%></m> and then <m><%=row_op2%></m> to <m>A</m>.
      Then explain how to find its determinant.
    </p>
  </statement>

  <answer>
    <p>(a) <m><%=mat1%></m></p>
    <p>(b) <m><%=mat2%></m></p>
    <p>(c) <m><%=new_det%></m></p>
  </answer>
</exercise>
