<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      The following matrix has an eigenvalue of <%=eigenvalue%>.
      Explain how to find a basis for the eigenspace that corresponds
      to this eigenvalue.
    </p>
    <me><%=matrix%></me>
  </statement>

  <answer>
    <p><m><%=basis%></m></p>
  </answer>
</exercise>
