<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>Explain why the vector <m><%= combovector %></m>  is or is not a linear 
	combination of the vectors <m><%=veclist%></m>.
	</p>
  </statement>
  <answer>
  <p> <m><%= combovector %></m> 
  	<% if lc  %> is <% else %> is not <% end %> 
	a linear combination of the vectors <m><%=veclist%></m>.

	
  </p>
  </answer>
</exercise>
