<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Explain why the vectors in the set <me><%= vector_set %></me>
      span or don't span
      <m>\mathbb{R}^{<%=dimension%>}</m>. 
    </p>
  </statement>
  <answer>
    <me><%= matrix %>\sim<%= rref %></me>
    <p>
      The vectors
      <% if set_spans  %> DO <% else %> do NOT <% end %> 
      span <m>\mathbb{R}^{<%=dimension%>}</m>.
    </p>
  </answer>
</exercise>
