<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
	<p>Consider the following two sets of Euclidean vectors:
	<me><%=vsets[0]%> \phantom{mmm} <%=vsets[1]%>.</me>
	Explain why one of these sets is a subspace of <m><%=vectorspace%></m>, 
	and why the other is not.</p>
  <answer>
  <p> 
  	<m><%=subspace%></m> is a subspace of <m><%=vectorspace%></m> and 
	<m><%=notsubspace%></m> is not.
  </p>
  </answer>
</exercise>
