<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>Explain why the set of vectors <m>\left\{<%= vlist %>\right\}</m> is or is not a basis of <m>\mathbb{R}^<%=dim%></m>	</p>
  </statement>
  <answer>
  <p> The set <m>\left\{<%= vlist %>\right\}</m> 
  	<% if basis  %> is <% else %> is not <% end %> a basis of <m>\mathbb{R}^<%=dim%></m>.
  </p>
  </answer>
</exercise>
