<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Explain why the set of vectors
      <me><%= vector_set %></me>
      is or is not a basis of <m>\mathbb{R}^4</m>.
    </p>
  </statement>
  <answer>
    <me><%= matrix %>\sim<%= rref %></me>
    <p>
      The set 
      <% if set_is_basis  %> IS <% else %> is NOT <% end %>
      a basis of <m>\mathbb{R}^4</m>.
    </p>
  </answer>
</exercise>
