<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Find a basis for the subspace
      <me>W=\mathrm{span}<%= vector_set %>.</me>
      Be sure to explain why your result is a basis.
     </p>
  </statement>
  <answer>
    <me><%= matrix %>\sim<%= rref %></me>
    <p> A basis of <m>W</m> is  <m><%= basis_set %></m>.</p>
  </answer>
</exercise>
