<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Explain how to find the dimension of
      <me>W=\mathrm{span}<%= vector_set %>.</me>
    </p>
  </statement>
  <answer>
    <me><%= matrix %>\sim<%= rref %></me>
    <p>
      The dimension of <m>W</m> is  <m><%= dimension %></m>.
    </p>
  </answer>
</exercise>
